
header{
  background-color: plum;
  padding: 20px;
  border-radius: 8px;
  color: blueviolet;

}
ul{
  list-style: none;
  padding: 40px;
  margin:  0 auto;
  display: flex;
  grid-row: auto;
  justify-content: center;
}
li a{
  text-decoration: none;
  padding: 6px;
  font-family: cursive;
  font-size: 30px;
}
section{
  background-color: aqua;
  border-radius: 4px;
  border: 2px solid blue;
}
footer{
  text-align: center;
  background-color: aquamarine;
  border: 2px solid greenyellow;
}
aside{
  background-color: cornflowerblue;
  border-radius: 4px;
  border: 2px solid blueviolet;
}