
header{
  background-color: plum;
  padding: 20px;
  border-radius: 8px;
  color: blueviolet;

}
ul{
  list-style: none;
  padding: 40px;
  margin:  0 auto;
  display: flex;
  grid-row: auto;
  justify-content: center;
}
li a{
  text-decoration: none;
  padding: 6px;
  font-family: cursive;
  font-size: 30px;
}